
<body class="author-index-bg-img">
<div class="container">
<h2 class="title is-2 has-text-white is-family-code">Search Authors</h2>
<form action="/authors" method="GET">
  <input class="input is-medium input is-rounded" type="text" name="name" value="<%= searchOptions.name %>">
  <button class="button is-large is-info is-rounded pt-3 mt-5" type="submit">Search</button>
</form>
<br>

<div>
<% authors.forEach(author => { %>
  <h2 class="title is-3 mt-5 has-text-white"><%= author.name %></h2>
  <button class="button is-medium button is-primary is-focused mr-3 mt-3" type="submit">
  <a href="/authors/<%= author.id %>">View</a>
  </button>

  <button class="button is-medium button is-primary is-focused mt-3" type="submit">
  <a href="/authors/<%= author.id %>/edit">Edit</a>
  </button>

  <%- include('../partials/deleteForm',
              { url: `/authors/${author.id}` }) %>
<% }) %>
</div>
</div>
</body>